@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Teddy Bear Baking</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col"># of Servings</th>
            <th scope="col">Bakery Item</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">2</th>
            <td>Classic Bear Cookie</td>
            <td>Taking "deep dish" to the sweet side, one of these 8" warm classic cookies drizzled in chocolate makes the perfect dessert for two.</td>
            <td>$7.99</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Sweet Raspberry Scone</td>
            <td>A delicious sugar-powdered pastry folded over the finest homemade raspberry jam in Puyallup... are you reminiscing the fair yet?</td>
            <td>$3.99</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Coffee Crumb Cake Muffin</td>
            <td>The baker's favorite, a tender, fluffy coffee-flavored muffin topped with cinnamon & brown sugar crumble topping.</td>
            <td>$5.99</td>
        </tr>
    </tbody>
</table>