@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Teddy Bear Bakery</h1>
<br />

<h2>Menu</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Serves</th>
                <th scope="col">Bakery Item</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>2 people</th>
                <td>Classic Bear Cookie</td>
                <td>Taking "deep dish" to the sweet side, one of these 8" warm classic cookies drizzled in chocolate makes the perfect dessert for two.</td>
                <td>$7.99</td>
            </tr>
            <tr>
                <th>1 person</th>
                <td>Sweet Raspberry Scone</td>
                <td>A delicious sugar-powdered pastry folded over the finest homemade raspberry jam in Puyallup... are you reminiscing the fair yet?</td>
                <td>$3.99</td>
            </tr>
            <tr>
                <th>1 person</th>
                <td>Coffee Crumb Cake</td>
                <td>The baker's favorite, a tender, fluffy coffee-flavored cake chunk swirled and topped with cinnamon & brown sugar crumble.</td>
                <td>$5.99</td>
            </tr>
        </tbody>
    </table>
</div>
<br />

<h2>About Teddy Bear Bakery</h2>
<p>
    Liquorice halvah chocolate bar sweet roll soufflé powder. Topping marzipan cookie chocolate bar donut chocolate cake donut liquorice.
    Pudding jelly biscuit danish ice cream.Cake chocolate bar chocolate pie cotton candy carrot cake.
    Chocolate candy apple pie fruitcake sugar plum shortbread dragée topping marzipan.
    Cupcake oat cake pastry topping jelly-o bear claw. Chocolate cake soufflé cake tart carrot cake jelly-o.
    Dessert carrot cake bonbon chupa chups fruitcake chupa chups pudding.
    Gummi bears bear claw bear claw caramels marzipan chupa chups sesame snaps bonbon candy canes.
    Marshmallow ice cream gingerbread jelly-o fruitcake.
</p>