html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.validation-summary-errors ul {
    list-style: none;
    padding: -0px;
    margin-bottom: 0px;
}

#welcome-alert {
    margin-top: 0.5em;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    
}